* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.principal {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content max-content max-content;
    border-radius: 15px;
    background-color: white;
    padding: 40px 20px 40px 20px;
    width: max-content;
    align-self: center;
    height: fit-content;
}

#big_pic {
    height: 550px;
    width: 400px;
}

.side_pic {
    display: block;
    height: 84px;
    width: 67px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

section {
    margin: 10px;
    height: fit-content;
}

section:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 3;
    width: fit-content;
}

section:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 3;
    margin-right: 50px;
}

section:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}

section:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}

h1 {
    font-size: 40px;
}

.title {
    color: blue;
}

.details {
    color: gray;
}

.price {
    font-size: 40px;
    font-weight: 500;
    display: inline;
}

.discount {
    display: inline;
    margin-left: 10px;
    background-color: #abccf9;
    font-size: 20px;
    padding: 5px;
    color: blue;
}

.old_price {
    text-decoration: line-through;
    color: gray;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
}

.radio_group {
    display: flex;
    gap: 20px;
}

.radio_group input {
    display: none;
}

.radio_group label {
    padding: 10px;
}

.radio_group input:checked+label {
    background-color: black;
    color: white;
}

button {
    width: 100%;
    text-align: center;
    background-color: #1a76ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 990px) {
    .side_pic {
        display: inline;
    }
    h1 {
        font-size: 30px;
    }
    .principal {
        margin-top: 150px;
        grid-template-columns: auto auto;
    }
    section:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
        width: fit-content;
    }
    section:nth-child(1) {
        grid-column: 1;
        grid-row: 2;
        width: fit-content;
    }
    section:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
        width: fit-content;
    }
    section:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
        width: fit-content;
    }
    #big_pic {
        width: 300px;
        height: max-content;
    }
}

@media (max-width: 700px) {
    body {
        padding-top: 100px;
    }
    .side_pic {
        display: inline;
    }
    h1 {
        font-size: 20px;
    }
    .principal {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }
    section:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
        width: fit-content;
        margin-right: 10px;
    }
    section:nth-child(1) {
        grid-column: 1;
        grid-row: 2;
        width: fit-content;
    }
    section:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
        width: fit-content;
    }
    section:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
        width: fit-content;
    }
    #big_pic {
        width: 100%;
        height: max-content;
        align-self: center;
    }
    .pics_nav,
    .main_pic {
        width: 100%;
    }
}